body{
         background-color: rgb(248, 238, 147);
}
h1{
         font-size: 150px;
         text-align: center;
         color: rgb(255, 136, 0);
}
h1:hover{
         color: red;
}
p{
         text-align: center;
         font-size: 35px;
         
}
.pizza{
         margin-right: auto;
         margin-left: auto;
         width: 200px;
         display: block;
}
.span{
         color: green;
}